<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 top-num">
        <a
          class="text-dark"
          href="tel:1617555555"
          style="text-decoration: none"
        >
          <i class="fas fa-phone" style="align-items: center"></i>
          (917)-916-0768
        </a>
      </div>
      <div class="col-md-4">
        <a
          class="text-dark"
          href="mailto:info@cribsnyc.com"
          style="text-decoration: none"
        >
          <i class="fas fa-envelope-open"></i> info@cribsnyc.com
        </a>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://twitter.com/CribsN"
            style="text-decoration: none"
          >
            <i class="fab fa-twitter m-1"> </i>
          </a>
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://www.facebook.com/cribsny"
            style="text-decoration: none"
          >
            <i class="fab fa-facebook m-1"> </i>
          </a>
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://www.youtube.com/channel/UCCz4FsTnb786bESif3hwO_Q"
            style="text-decoration: none"
          >
            <i class="fab fa-youtube m-1"> </i>
          </a>
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://www.instagram.com/cribs_nyc/"
            style="text-decoration: none"
          >
            <i class="fab fa-instagram m-1"> </i>
          </a>
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://www.pinterest.com/cribsnyc"
            style="text-decoration: none"
          >
            <i class="fa fa-pinterest" aria-hidden="true"> </i>
          </a>
          <a
            class="text-dark pr-2"
            target="_blank"
            href="https://cribsnyc.medium.com/"
            style="text-decoration: none"
          >
            <i class="fab fa-medium m-1"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
