 {% extends 'base.html' %}

 {% block title %} | Dashboard{% endblock %}
 
 {% block content %}
 <!-- Dashboard -->
 <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-3 mt-5">Welcome, {{ user.first_name }}!</h2>
          {% if contacts %}
            <p class="mb-5 text-muted">Here are the apartments and/or rooms that you have inquired about.</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Property</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>2{{ contact.id }}</td>
                    <td>{{ contact.rental }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'rental' contact.rental_id %}">View Apartment</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You have not made any inquires.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  <!-- End Dashboard -->