{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us{% endblock %}

{% block content %}
<!-- About -->
<style>
    .custom-shape-divider-top-1614207287 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-top-1614207287 svg {
      position: relative;
      display: block;
      width: calc(147% + 1.3px);
      height: 500px;
    }

    .custom-shape-divider-top-1614207287 .shape-fill {
      fill: #99d3e9cc;
    }

    .custom-shape-divider-bottom-1614214550 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .custom-shape-divider-bottom-1614214550 svg {
      position: relative;
      display: block;
      width: calc(147% + 1.3px);
      height: 500px;
    }

    .custom-shape-divider-bottom-1614214550 .shape-fill {
      fill: #99d3e9cc;
    }
  </style>

    <div class="wave-upper container-fluid">
      <section id="about" class="about">
        <div class="container">
          <div class="row">
            <span class="about badge rounded-pill bg-secondary col-md-1"
              >ABOUT</span
            >
            <h1 class="about-head text-primary text-left mt-5">
              Cribs is all about you.
            </h1>
            <p class="about-text mt-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
              dolorum ipsum inventore eveniet cum deserunt doloribus ipsa
              facere? Rerum temporibus, rem vel neque quibusdam vero unde
              aspernatur eaque minus enim maxime corrupti vitae illum laboriosam
              quis magni libero cum possimus ullam id. Eveniet repellendus neque
              qui tempore nihil odit necessitatibus placeat temporibus, nam eius
              debitis obcaecati enim ad iste, harum in doloremque quo quasi
              esse. Nulla ullam incidunt voluptate, corporis asperiores fugit
              harum recusandae mollitia. Reiciendis accusantium perferendis
              provident rem eos incidunt, in velit est, totam optio possimus vel
              debitis? Error ut velit vitae at necessitatibus explicabo eos
              libero soluta.
            </p>
          </div>
        </div>
      </section>
      <div class="custom-shape-divider-top-1614207287">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>
    <!-- End About -->

    <!-- Values -->
    <section id="values" class="values">
      <div class="values container">
        <div class="row">
          <span class="values badge rounded-pill bg-secondary col-md-1"
            >VALUES</span
          >
        </div>
        <div class="values-icons container">
          <div class="row">
            <div class="col-md-4 text-center mb-5">
              <svg
                class="text-secondary"
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-chat-quote-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"
                />
              </svg>
              <h1 class="text-primary mt-5">Honesty</h1>
              <p class="values-text mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                maiores amet.
              </p>
            </div>
            <div class="col-md-4 text-center mb-5">
              <svg
                class="text-primary"
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-asterisk"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"
                />
              </svg>
              <h1 class="text-primary mt-5">Trust</h1>
              <p class="values-text mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                maiores amet.
              </p>
            </div>
            <div class="col-md-4 text-center mb-5">
              <svg
                class="text-secondary"
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-cpu-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"
                />
                <path
                  d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"
                />
              </svg>
              <h1 class="text-primary mt-5">Seamlessness</h1>
              <p class="values-text mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                maiores amet.
              </p>
            </div>
          </div>
          <div id="values-icons-more" class="container">
            <div class="row">
              <div class="col-md-4 text-center mb-5">
                <svg
                  class="text-primary"
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  fill="currentColor"
                  class="bi bi-heart-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                  />
                </svg>
                <h1 class="text-primary mt-5">Selflessness</h1>
                <p class="values-text mt-4">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                  facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                  maiores amet.
                </p>
              </div>
              <div class="col-md-4 text-center mb-5">
                <svg
                  class="text-secondary"
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  fill="currentColor"
                  class="bi bi-lock-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                  />
                </svg>
                <h1 class="text-primary mt-5">Committment</h1>
                <p class="values-text mt-4">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                  facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                  maiores amet.
                </p>
              </div>
              <div class="col-md-4 text-center mb-5">
                <svg
                  class="text-primary"
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  fill="currentColor"
                  class="bi bi-bell-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
                  />
                </svg>
                <h1 class="text-primary mt-5">Service</h1>
                <p class="values-text mt-4">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                  facilis dicta ea optio aliquam veniam ipsum sunt doloribus,
                  maiores amet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Values -->
    <!-- Team -->
    <div class="wave-lower container-fluid">
      <section id="team" class="team">
        <div class="container">
          <div class="row">
            <div class="row">
              <span class="values badge rounded-pill bg-secondary col-md-1"
                >TEAM</span
              >
            </div>
          </div>
        </div>
        <div class="team-cards container">
          <div class="row">
            <div class="team-post col-md-4">
              <div class="card mb-5" style="width: 25rem">
                <img
                  src="{% static '/img/alyssa.jpg' %}"
                  class="card-img-top img-fluid"
                  alt="blog1"
                  width="640"
                  height="225"
                />
                <div class="card-body text-center d-flex flex-column">
                  <h1 class="team-name mt-2">Alyssa Martin</h1>
                  <span class="team-title mt-2">CHIEF EXECUTIVE OFFICER</span>
                  <p class="team-describe card-text mt-5">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <div class="col text-center"></div>
                </div>
              </div>
            </div>
            <div class="team-post col-md-4">
              <div class="card mb-5" style="width: 25rem">
                <img
                  src="{% static '/img/rachel.jpg' %}"
                  class="card-img-top img-fluid"
                  alt="blog1"
                  width="640"
                  height="225"
                />
                <div class="card-body text-center d-flex flex-column">
                  <h1 class="team-name mt-2">Rachel Dunn</h1>
                  <span class="team-title mt-2">CHIEF AGENT OFFICER</span>
                  <p class="team-describe card-text mt-5">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <div class="col text-center"></div>
                </div>
              </div>
            </div>
            <div class="team-post col-md-4">
              <div class="card mb-5" style="width: 25rem">
                <img
                  src="{% static '/img/rachel.jpg' %}"
                  class="card-img-top img-fluid"
                  alt="blog1"
                  width="640"
                  height="225"
                />
                <div class="card-body text-center d-flex flex-column">
                  <h1 class="team-name mt-2">Alyssa Martin</h1>
                  <span class="team-title mt-2">CHIEF EXECUTIVE OFFICER</span>
                  <p class="team-describe card-text mt-5">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <div class="col text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="custom-shape-divider-bottom-1614214550">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>
{% endblock %}
