{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% load static %}

{% block content %}
<!-- Hero Banner -->
<section id="hero-banner" class="hero-banner">
    <div class="hero-text container-fluid">
      <div class="row">
        <div class="hero-text text-white">
          <span>CRIBS NYC</span>
          <h1>Find Your Home</h1>
          <p class="mt-3">
          Discover your dream apartment, and your perfect roommates.
          </p>
          <div class="hero-btn row">
            <a href="{% url 'about' %}" class="btn-one text-white">Learn More</a>
            <a href="{% url 'rentals' %}" class="btn-two text-white">View Apartments</a>
            <a href="{% url 'rooms' %}" class="btn-one text-white">View Rooms</a>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Rentals -->
  <section id="listings" class="listings-index container">
    <div class="container">
      <h2 class="text-center mb-5 text-dark">Latest Listings</h2>
      <div class="row">
        {% if rentals %}
          {% for rental in rentals %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ rental.rental_main.url }}" alt="home-1" height="325" width="750">
                <div class="card-img-overlay" style="pointer-events: none;">
                  <h2>
                    <span class="bg bg-secondary text-white">${{ rental.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="" style="font-weight:700; color:#555555;">{{ rental.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ rental.city }}, {{ rental.state }}, {{ rental.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2" style="color: #4e5965;">
                    <div class="col-6">
                      <i class="fas fa-bed text-secondary"></i> Bedrooms: {{ rental.bedrooms }}
                    </div>
                    <div class="col-6">
                      <i class="fas fa-bath text-secondary"></i> Bathrooms: {{ rental.bathrooms }}
                    </div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6"  style="color: #4e5965;">
                      <i class="fas fa-th-large text-secondary"></i> Sqft: {{ rental.sqft }}
                    </div>
                    <div class="col-6"  style="color: #4e5965;">
                      <i class="fas fa-pump-soap text-secondary"></i> Laundry: {{ rental.laundry }}
                    </div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6"  style="color: #4e5965;">
                      <i class="fas fa-male text-secondary"></i> Doorman: {{ rental.doorman }}
                    </div>
                    <div class="col-6"  style="color: #4e5965;">
                      <i class="fas fa-paw text-secondary"></i> Pets Allowed: {{ rental.pets_allowed }}
                    </div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6" style="color: #4e5965;">
                      <i class="fas fa-user text-secondary"></i> {{ rental.realtor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-12" style="color: #4e5965;">
                      <i class="fas fa-clock text-secondary"></i> Move In: {{ rental.move_in_date }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'rental' rental.id %}" class="btn btn-primary d-grid gap-2 text-white">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Rentals Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- End Lasting Listings -->
  <!-- Carousel -->
  <section id="carousel">
    <div id="carouselExampleCaptions" class="carousel slide bg-dark mt-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static '/img/rental.jpg' %}" class="d-block w-50" alt="rental">
          <div class="carousel-caption d-none d-md-block mt-5">
            <h1 class="mb-5">Find Your New Apartment</h1>
            <h5 class="mb-5">Explore our newest collection of NYC apartments available for rent!</h5>
            <a href="{% url 'rentals' %}" class="btn btn-secondary text-white mb-5 pl-5 pr-5 pt-3 pb-2"><h5>View Apartments</h5></a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/room.jpg' %}" class="d-block w-50" alt="room">
          <div class="carousel-caption d-none d-md-block mt-5">
            <h1 class="mb-5">Find Your Next Room</h1>
            <h5 class="mb-5">Discover your home sweet home, along with roommates you'll love!</h5>
            <a href="{% url 'rooms' %}" class="btn btn-secondary text-white mb-5 pl-5 pr-5 pt-3 pb-2"><h5>View Rooms</h5></a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- Blog Cards -->
  <section id="blog-cards" class="blog-cards">
    <div class="container">
      <div class="row">
        <h2 class="text-center mb-5 text-dark">What's New</h2>
        <div class="col-md-4">
          <div class="card mb-5">
            <img src="{% static '/img/blog1.jpg' %}" class="card-img-top" alt="blog1" width="640" height="225">
            <div class="card-body text-center d-flex flex-column">
              <h3 class="mb-4">Where should I live in New York City?</h3>
              <p class="card-text mb-4 text-muted">
                It is not a calm city, but there are moments of tranquillity. Yes, New York is loud, fast-paced...</p>
              <div class="col text-center">
                <a href="{% url 'blogs' %}" class="btn btn-secondary text-white w-50 mt-auto">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-5">
            <img src="{% static '/img/blog2.jpg' %}" class="card-img-top" alt="blog2" width="640" height="225">
            <div class="card-body text-center d-flex flex-column">
              <h3 class="mb-4">Read this before you move to NYC!</h3>
              <p class="card-text mb-4 text-muted">Are you considering relocating to New York City? The first thing you should know about it is...</p>
              <div class="col text-center">
                <a href="{% url 'blogs' %}" class="btn btn-secondary text-white w-50 mt-auto">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-5">
            <img src="{% static '/img/blog3.jpg' %}" class="card-img-top" alt="blog3" width="640" height="225">
            <div class="card-body text-center d-flex flex-column">
              <h3 class="mb-4">More reasons to move to the Big Apple</h3>
              <p class="card-text mb-4 text-muted">I’ve lived in New York City for nearly 20 years and have lived in nine different neighborhoods...</p>
            <div class="col text-center">
              <a href="{% url 'blogs' %}" class="btn btn-secondary text-white w-50 mt-auto">Read More</a>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- test comment -->
{% endblock %}
